
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
#root{
    overflow-y: scroll; /* Ensures content is still scrollable */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  html {
    scroll-behavior: smooth;
  }

  body{
    background-color:azure;
  }



